
// VARIABLES
$mybodybackground: #707070;
$body-fontfamily: "susan, sans-serif";
$heading-fontfamily: "kumlien-pro, serif"; 

// COLORS

$color-text-body: #424242;
$color-text-h1: #5cebe6;
$color-accent: #938564; 
$color-links: rgb(121, 209, 49);
$color-links-dark: rgb(42, 42, 42);
$type-color-body:white;
$color-hero-bg: white;


//Breakpoints
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;


//IMPORT PARTIALS
@import "partials/toc";
@import "partials/typography"; 
@import "partials/buttons";
@import "partials/media"; 
@import "partials/layout"; 
@import "partials/grid"; 
@import "partials/structure";  

