/* site header and footer */
body {
    background-color: $mybodybackground;
}

.site-header {
   
    padding-top: 1em;
    color: pink;
    .container {
        display: flex;
        justify-content: space-between;
    }

    h1 {
        font-family: $body-fontfamily;
        font-size: 1.5em;
        color: pink;
    }

    a {
        color: white;
        text-decoration: none;
        
    }
} 

/* Site Footer */
.site-footer {
 
    padding-top: 1em;
    color: #938564;
    display: flex;
    justify-content: center;

    h1 {
        font-family: $body-fontfamily;
        font-size: 1.5em;
    }

    a {
        color: #fff;
        text-decoration: none;
    }
} 


.site-nav {
   ul {
       margin: 0;
       padding-top: 5%;
       padding-bottom: 0;
       list-style: none;
       display: flex;
}

a {
    display: block;
    padding: 1em; 
  }
}
 section {
     padding: 2.5em 0;
 }


/* Hero Sections */

.hero {
    text-align: center;
    color: pink;

    h1 {
        font-size: 4em;
        margin-bottom: 0;
    }
    h4 {
        text-align: center;
        max-width: none;
        font-style: italic
    }
    .hr-text {
        padding: 0;
        border: none;
        border-top: solid 1px white;
        color: white;
        text-align: center;
        line-height: 1em;
        position: relative;
        outline: 0;
        border: 0;
        color: white;
        text-align: center;
        height: 1.5em; 
       
    }
    .hr-text:before {
        content: "";
       background: -webkit-linear-gradient(left, transparent, $mybodybackground, transparent);
        background: linear-gradient(to right, transparent, $mybodybackground, transparent); 
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
    } 
    .hr-text:after {
         content: attr(data-content);
        position: relative;
        display: inline-block;
        color: white;
        padding: 0 .5em;
        line-height: 1.5em;
        color: white;
        background-color: $mybodybackground; 
    } 
    p {
        margin: 10px auto;
        text-align: center;
        max-width: 500;
        color: #fff;
    }

}


/* DESIGN SECTION */
.row 
{
    padding: 2em;
    max-width: 1200px;

    h3  {
        margin-top: 0;
        padding-top: 0;
        color: white; }

}

/* VIDEO SECTION */


